h1 {
    text-align: center;
    color: white;
}
#tree-container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

body {
    background: #2c3e50;
}

#info-container {
    width: 600px;
    height: 200px;
    margin: auto;
    background: #34495e;
    color: white;
    padding: 20px;
}

.container {
}

.link {
    fill: None;
    stroke: #ecf0f1;
    stroke-width: 4px;
}

.node {
    width: 10px;
    height: 10px;
}

.node-dot {
    fill: #f1c40f;
    stroke: black;
    stroke-width:2px;
}
.node-dot:hover {
    fill: #9b59b6;
    stroke: white;
}

.text-label {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.container-label {
    font-size: 16px;
    font-family: sans-serif;
}

table {
    border: 2px solid #bdc3c7;
    width: 100%;
    border-collapse: collapse;
}

.th {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    width: 25%;
    text-align: right;
    border: 2px solid #bdc3c7;
    padding: 5px;
    color: white;
}

.td {
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
    border: 2px solid #bdc3c7;
    padding: 5px;
    color: white;
}
